@import "tailwindcss";

html, body, #root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: fixed;
  touch-action: none;
  -webkit-overflow-scrolling: auto;
  user-select: none;
}
